* 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 100%;
    text-decoration: none;
  }

  /*css index*/

  body 
  {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
  }

  #bloc-page 
  {
    max-width: 1440px;
    margin: auto;
    background-color: #d1dad3;
  }
  
  header 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  #logo-texte
  {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  
  #logo
  {
    width: 50%;
  }

  #logo img
  {
    border-radius: 0px 0px 20px 0px;

  }

  h1 
  {
    display: flex;
    margin-left: 4%;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
  }
  
  #info
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 75%;
      margin-left: 50%;
      margin-top: 10px;
  }

  .btn 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 90px;
    height: 45px;
    font-family: 'Playfair display';
    font-size: 14px;
    background-color: slateblue;
    color: antiquewhite;
    border: none;
  }

  .btn:hover 
  {
    box-shadow: 0px 0px 30px #696969;
    opacity: 0.85;
  }
  
  #basket
  {
    width: 25%;
  }

  #basket i
  {
    color: #905bfc;
  }

  main 
  {
    display: flex;
    flex-wrap: wrap;
  }

  #intro 
  {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 180px;
    background: linear-gradient(to bottom right, #e68a08, #8f5bfe);
    border-radius: 30px;
    margin: 4%;
    color: #f3e9f1;
  }

  h2
  {
      font-size: 18px;
  }

  #intro p
  {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
  }
  
  #app-photo
  {
    display: flex;
    flex-direction: column;
  }

  #app-photo h2
  {
    padding-left: 5%;
    margin-bottom: 15px;
  }
  
  .appareils
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure
  {
    width: 90%;
    margin-bottom: 30px;
  }

  figure img 
  {
    border-radius: 20px 20px 0px 0px;
  }


  figcaption 
  {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    padding-bottom: 10px;
    justify-content: flex-end;
    background-color: #eba797;
    border-radius: 0px 0px 20px 20px;
    color: white;
  }
  
  .description
  {
    padding-left: 15px;
  }

  h3
  {
    font-size: 26px;
    margin-bottom: 10px;
  }

  p
  {
    font-size: 16px;
    font-weight: 700;
  }

  .prix 
  {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 30px;
  }

  figcaption a
  {
    display: flex;
    justify-content: center;
  }


  /* code css footer*/

  footer 
  {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: #eba797;
  }
  
  #logo-footer
  {
    width: 139px;
    height: 35px;
  }

  #logo-footer img
  {
    border-radius: 0px 0px 10px 0px;
  }

  #liste 
  {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5px;
  }
  
 .social
 {
   width: 35px;
 }

 footer  a
 {
   color: royalblue;
   padding-right: 7px;
 }

 footer p
 {
   font-size: 14px;
 }

 .element:nth-child(1)
 {
   width: 18%;
 }

 .element:nth-child(2)
 {
   width: 18%;
 }

 .element:nth-child(3)
 {
   width: 25%;
 }

 .element:nth-child(4)
 {
   width: 39%;
 }

/*code css page produit*/

 #produit
 {
   margin-left: 5%;
 }
 
 #nombre
 {
   display: flex;
   flex-direction: column;
   width: 180px;
   margin: auto;
   margin-bottom: 10px;
 }

 .selection
 {
   display: flex;
   text-align: center;
   background-color: white;
   border:#eba797 solid 3px;
   border-collapse: collapse;
 }

 .plusmoins p
 {
   border-top: #eba797 solid 3px;
   border-bottom: #eba797 solid 3px;
 }
 
 #choix, a
 {
   font-size: 24px;
   color: midnightblue;
 }

 #quantity, #options
 {
  display: flex;
  margin-top: 8px;
  border: #eba797 outset 4px;
  border-radius: 30px;
  text-align: center;
  height: 35px;
  font-size: 16px;
 }

 .plus, .moins
 {
   font-size: 20px;
 }

 .plus
 {
  border-right: #eba797 solid 3px;
 }

 .moins
 {
  border-left: #eba797 solid 3px;
 }

 #type
 {
   color: midnightblue;
 }

 #valeur
 {
   display: flex;
   flex-wrap: wrap;
   width: 180px;
   margin: auto;
   margin-bottom: 20px;
 }
 
#boutons
{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#btn-panier, #quantite-panier
 {
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   margin-top: 10px;
 }

 /*code css page panier*/

 #main-panier
 {
  text-align: center;
 }

 .affichage
 {
   display: flex;
   flex-direction: column;
 }

 #quantite-prix p
 {
  margin-bottom: 7px;
  font-size: 20px;
 }
 
 .form-img
 {
   width: 200px;
   margin: auto;
   padding-top: 15px;
 }
 
 #validation
 {
   margin-bottom: 15px;
 }

 #formPanier
 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 70%;
   background-color: #eba797;
   margin: auto;
   margin-bottom: 30px;
   border-radius: 25px;
   box-shadow: 0 0 10px rgb(0 0 0 / 71%);
 }

 #forme
 {
   display: flex;
   justify-content: center;
 }


 #form 
 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 0px;
}

.panier
{
  margin-bottom:5px;
  height: 40px;
  border: none;
  padding-left: 10px;
}

#envoi
{
  margin-bottom: 0px;
}

#numberQuantite
{
  width: 90px;
  font-size: 22px;
  border: slateblue outset 4px;
  border-radius: 25px;
  text-align: center;
  height: 40px;
}


 /*code css page confirmation*/

 #confirmation
 {
   text-align: center;
   width: 90%;
   margin-left: 5%;
 }

 #remerciements
 {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
 }

 #remerciements span
 {
   color: blueviolet;
   font-size: 35px;
 }

 #recapitulatif
 {
   text-align: center;
   margin-bottom: 4%;
   font-size: 20px;
 }

 #remerciements p
 {
   color: #e58a0b;
   font-size: 24px;
 }

 #recapitulatif p
  {
    font-size: 20px;
    margin-bottom: 8px;
  }

  #orderId
  {
    font-weight: 700;
  }


 @media only screen and (min-width: 500px)
  {

    h1
    {
      font-size: 29px;
    }

    h2
    {
      font-size: 23px;
    }

    #intro p
    {
      font-size: 23px;
    }
    
    figure
    {
      width: 290px;
    }
  
    .prix
    {
      padding-left: 15px;
    }
  
    .prix, .boutons
    {
      width: 100%;
    }
  
    .boutons
    {
      padding: 10px 0px 10px 15px;
    }

    #produit
    {
      width: 90%;
    }

    .centre a
    {
      display: flex;
      justify-content: center;
    }

    table
    {
      font-size: 16px;
    }

    td
    {
      font-size: 22px;
    }

    #recapitulatif
    {
      margin-bottom: 2%;
    }
    
    
  }
  
  @media only screen and (min-width: 768px)
  {

    #logo-texte
    {
      width: 70%;
    }

    #info
    {
      width: 30%;
      margin-left: 0%;
    }

    footer p
    {
      font-size: 20px;
    }

    #choix a
    {
      font-size: 28px;
    }


    #formPanier
 {
   align-items: center;
   flex-wrap: nowrap;
   width: 80%;
 }

 .form-img
 {
   margin-left: 5%;
 }

 #quantite-prix
 {
   margin-left: 2%;
 }
  }

  @media only screen and (min-width: 1024px)

  {
    
  }