* 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 100%;
  }
  
  /*css index*/

  body 
  {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
  }

  #bloc-page 
  {
    max-width: 1440px;
    margin: auto;
    background-color: mistyrose;
  }
  
  header 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logo-texte
  {
      display: flex;
      justify-content: space-between;
      width: 75%;
  }
  
  #logo
  {
      width: 60%;
  }

  #logo img
  {
    border-radius: 0px 0px 30px 0px;
  }

  h1 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    width: 70%;
  }
  
  #info
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%;
  }

  button 
  {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 120px;
    height: 35px;
    font-family: 'Playfair display';
    font-size: 20px;
    background-color: #9f64d0;
    color: antiquewhite;
    border: none;
  }

  button:hover 
  {
    box-shadow: 0px 0px 30px #696969;
    opacity: 0.85;
  }
  
  #panier 
  {
    width: 25%;
  }

  #panier i
  {
    color: #905bfc;
  }

  main 
  {
    display: flex;
    flex-wrap: wrap;
  }

  #intro 
  {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 140px;
    background: linear-gradient(to bottom right, #e68a08, #8f5bfe);
    border-radius: 30px;
    margin: 5%;
    width: 90%;
    margin-right: 0%;
    color: #f3e9f1;
  }

  h2
  {
      font-size: 30px;
  }

  #intro p
  {
    font-size: 27px;
    font-weight: 700;
  }
  
  #app-photo
  {
    display: flex;
    flex-direction: column;
  }

  #app-photo h2
  {
    padding-left: 40px;
    margin-bottom: 25px;
  }
  
  #liste-appareils-photo
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure
  {
    width: 90%;
    margin-bottom: 30px;
  }

  figure img 
  {
    border-radius: 20px 20px 0px 0px;
  }

  figcaption 
  {
    display: flex;
    margin-top: -5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #c67962;
    border-radius: 0px 0px 20px 20px;
    color: white;
  }
  
  .description
  {
    margin-left: 15px;
  }

  h3
  {
    font-size: 25px;
  }

  p
  {
    font-size: 20px;
    font-weight: 700;
  }

  .prix 
  {
    padding: 0px 15px 0px 7px;
    width: 17%;
  }

  .boutons
  {
    display: flex;
    width: 30%;
  }

  footer 
  {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 30px;
    color: #0000ee;
    background-color: #c97b59;
    opacity: 0.5;
  }
  
  #logo-footer
  {
    width: 25%;
  }

  .liste 
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
  }
  
 .social
 {
   width: 50px;
   font-size: 30px;
   color: #0000ee;
   margin-left: 15px;
 }

 footer p, a
 {
   width: 150px;
   text-decoration: none;
   font-size: 23px;
 }


/*code css page produit*/

 #produit
 {
   margin-left: 5%;
 }
 
 .choix
 {
   display: flex;
   justify-content: center;
   margin-left: 5%;
 }

 ul
 {
   display: flex;
   list-style: none;
 }

 ul li
 {
   width: 25%;
 }

 .choix p
 {
   margin-right: 35px;
 }

 .choix p, a
 {
   font-size: 24px;
 }

 /*code css page panier*/

 .panier-img
 {
   width: 250px;
 }

 .nom-panier
 {
   display: flex;
   align-items: center;
   width: 250px;
 }

 table
 {
   width: 90%;
   margin-left: 5%;
   border-collapse: collapse;
   text-align: center;
   table-layout: fixed;
 }

 thead th:nth-child(1) 
 {
  width: 45%;
}

thead th:nth-child(2) 
{
  width: 15%;
}

thead th:nth-child(3) 
{
  width: 15%;
}

thead th:nth-child(4) 
{
  width: 15%;
}

thead th:nth-child(5) 
{
  width: 10%;
}

 .photo-ref
 {
   display: flex;
   text-align: center;
 }

 tr
 {
   width: fit-content;
 }
 table,td 
 {
   font-size: 25px;
   border: 3px solid steelblue;
 }

 td 
 {
   margin-right: 5px;
   padding: 10px;
 }

 #validation
 {
   margin-left: 5%;
   margin-bottom: 20px;
 }

 #total
 {
   display: flex;
   justify-content: flex-end;
 }

 /*code css page confirmation*/

 #confirmation
 {
   text-align: justify;
   width: 90%;
   margin-left: 5%;
 }

 #remerciements
 {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
 }

 #remerciements span
 {
   color: blueviolet;
   font-size: 35px;
 }

 #recapitulatif
 {
   text-align: center;
 }

 #remerciements p
 {
   color: #e58a0b;
   font-size: 24px;
 }