* 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 100%;
  }

  /*css index*/

  body 
  {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
  }

  #bloc-page 
  {
    max-width: 1440px;
    margin: auto;
    background-color: mistyrose;
  }
  
  header 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logo-texte
  {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  
  #logo
  {
    width: 50%;
  }

  #logo img
  {
    border-radius: 0px 0px 30px 0px;

  }

  h1 
  {
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
  }
  
  #info
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 75%;
      margin-left: 50%;
      margin-top: 10px;
  }

  button 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 90px;
    height: 35px;
    font-family: 'Playfair display';
    font-size: 14px;
    background-color: slateblue;
    color: antiquewhite;
    border: none;
  }

  button:hover 
  {
    box-shadow: 0px 0px 30px #696969;
    opacity: 0.85;
  }
  
  #panier 
  {
    width: 25%;
  }

  #panier i
  {
    color: #905bfc;
  }

  main 
  {
    display: flex;
    flex-wrap: wrap;
  }

  #intro 
  {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 180px;
    background: linear-gradient(to bottom right, #e68a08, #8f5bfe);
    border-radius: 30px;
    margin: 5%;
    color: #f3e9f1;
  }

  h2
  {
      font-size: 18px;
  }

  #intro p
  {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
  }
  
  #app-photo
  {
    display: flex;
    flex-direction: column;
  }

  #app-photo h2
  {
    padding-left: 5%;
    margin-bottom: 15px;
  }
  
  #liste-appareils-photo
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure
  {
    width: 90%;
    margin-bottom: 30px;
  }

  figure img 
  {
    border-radius: 20px 20px 0px 0px;
  }


  figcaption 
  {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    padding-bottom: 10px;
    justify-content: flex-end;
    background-color: #c67962;
    border-radius: 0px 0px 20px 20px;
    color: white;
  }
  
  .description
  {
    padding-left: 15px;
  }

  h3
  {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p
  {
    font-size: 16px;
    font-weight: 700;
  }

  .prix 
  {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .boutons
  {
    display: flex;
    width: 65%;
  }

  .boutons a
  {
    text-decoration: none;
  }

  /* code css footer*/

  footer 
  {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 10px;
    background-color: #eba797;
  }
  
  #logo-footer
  {
    width: 139px;
    height: 35px;
  }

  #liste 
  {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5px;
  }
  
 .social
 {
   width: 35px;
 }

 footer  a
 {
   text-decoration: none;
   color: royalblue;
   padding-right: 7px;
 }

 footer p
 {
   font-size: 13px;
 }

 .element:nth-child(1)
 {
   width: 13%;
 }

 .element:nth-child(2)
 {
   width: 13%;
 }

 .element:nth-child(3)
 {
   width: 18%;
 }

 .element:nth-child(4)
 {
   width: 25%;
 }

 .element:nth-child(5)
 {
   width: 31%;
 }
/*code css page produit*/

 #produit
 {
   margin-left: 5%;
 }
 
 .choix
 {
   display: flex;
   justify-content: center;
   margin-left: 5%;
 }

 ul
 {
   display: flex;
   list-style: none;
 }

 ul li
 {
   width: 25%;
 }

 .choix p
 {
   margin-right: 35px;
 }

 .choix p, a
 {
   font-size: 24px;
 }

 /*code css page panier*/

 .panier-img
 {
   width: 250px;
 }

 .nom-panier
 {
   display: flex;
   align-items: center;
   width: 250px;
 }

 table
 {
   width: 90%;
   margin-left: 5%;
   border-collapse: collapse;
   text-align: center;
   table-layout: fixed;
 }

 thead th:nth-child(1) 
 {
  width: 45%;
}

thead th:nth-child(2) 
{
  width: 15%;
}

thead th:nth-child(3) 
{
  width: 15%;
}

thead th:nth-child(4) 
{
  width: 15%;
}

thead th:nth-child(5) 
{
  width: 10%;
}

 .photo-ref
 {
   display: flex;
   text-align: center;
 }

 tr
 {
   width: fit-content;
 }
 table,td 
 {
   font-size: 25px;
   border: 3px solid steelblue;
 }

 td 
 {
   margin-right: 5px;
   padding: 10px;
 }

 #validation
 {
   margin-left: 5%;
   margin-bottom: 20px;
 }

 #total
 {
   display: flex;
   justify-content: flex-end;
 }

 /*code css page confirmation*/

 #confirmation
 {
   text-align: justify;
   width: 90%;
   margin-left: 5%;
 }

 #remerciements
 {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
 }

 #remerciements span
 {
   color: blueviolet;
   font-size: 35px;
 }

 #recapitulatif
 {
   text-align: center;
 }

 #remerciements p
 {
   color: #e58a0b;
   font-size: 24px;
 }

 @media only screen and (min-width: 500px)
  {
    figure
    {
      width: 290px;
    }
  
    figcaption
    {
      flex-wrap: wrap;
      padding: 0px;
    }
  
    .prix
    {
      padding-left: 15px;
    }
  
    .prix, .boutons
    {
      width: 100%;
    }
  
    .boutons
    {
      padding: 10px 0px 10px 15px;
    }
  }
  
